<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartsSwiper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8011C5972AF5D64C00292467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8011C5AC2AF5D64D00292467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8011C5B62AF5D64D00292467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
